.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 1200px;
    margin: 5rem auto;
    padding: 0 1.5rem;
}

.services-title {
    position: relative;
}

.services-title h1 {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(270deg, #DF8908 -5.09%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-title img {
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
    width: 120px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    margin-bottom: 4rem;
}

.services-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    padding: 2.5rem;
    border-radius: 12px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;
}

.services-format h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.services-format h2 {
    font-size: 1.9rem;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format p {
    color: #d4d4d4;
    font-size: 1rem;
    line-height: 1.7;
    max-width: 100%;
}

.services-readmore {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 1rem;
}

.readmore-link {
   
  display: inline-flex;
  align-items: center;
  gap: 6px;

  color: #b400ff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.services-readmore:hover .readmore-link {
  color: #ff8a00;
  letter-spacing: 0.5px;
}

.arrow_icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.services-readmore:hover .arrow_icon {
    transform: translateX(6px);
}

.services-format:hover {
    border-color: #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .services {
        gap: 3rem;
        margin: 3rem auto;
        padding: 0 1rem;
        align-items: center;
    }

    .services-title h1 {
        font-size: 2.5rem;
    }

    .services-title img {
        width: 90px;
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .services-format {
        padding: 2rem;
    }

    .services-format h2 {
        font-size: 1.6rem;
    }

    .services-format p {
        font-size: 0.95rem;
        line-height: 1.6;
    }
}