.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 1rem;
}
.hero img {
    margin-top: -40px;
    height: 17.5rem;
    width: 17.5rem;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.hero img:hover{
   transform: scale(1.2);
}
 .hero h1 {
    text-align: center;
    max-width: 50.2rem;
    font-size: 3.5rem;
    font-weight: 600;
 }
 .hero h1 span {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .hero p {
    max-width: 40.2rem;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8;
 }
 .heighlight{
   background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .hero-action {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 3rem;
 }
 .hero-connect {
    padding: 0.9rem 1.8rem;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
 }
 .hero-resume {
    padding: 0.9rem 2.5rem;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
    background: linear-gradient(270deg,#DF8908 -5.09%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .hero-connect:hover {
    border: 2px solid white;
 }
 .hero-resume:hover {
    border-color: #B415FF;
 }
 .hero-social-icons {
   margin-top: -15px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
 }
 .linkedin-icon img{
   transform: scale(1.35);
   filter: brightness(0) invert(1);
 }
 .github-icon img{
   filter: brightness(0) invert(1);
 }
 .hero-social-icons img{
   width: 4rem;
   height: 4rem;
   cursor: pointer;
   object-fit: contain;
   transition: transform 0.3s ease;
 }
 .hero-social-icons img:hover{
   transform: scale(1.15);
 }
 
 @media(max-width:768px){
   .hero img{
      margin-top: 120px;
      width: 260px;
   }
   .hero h1{
      margin-top: 50px;
      width: 90%;
      font-size: 50px;
   }
   .hero p{
      width: 60%;
      font-size: 18px;
      line-height: 32px;
      margin: 10px 0px;
   }
   .hero-action{
      gap: 16px;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 50px;
   }
   .hero-connect{
      padding: 20px 30px;
      border-radius: 40px;
   }
   .hero-resume{
      padding: 20px 50px;
      border-radius: 40px;
   }
   .hero-social-icons img{
      width: 56px;
      height: 56px;
      margin-top:-40px;
   }
 }
