.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    margin: 5rem 2rem;
}
.about-title {
    position:relative;
}

.about-title h1 {
    padding: 0 1.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    background: linear-gradient(270deg,#DF8908 -5.09%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-title img {
    position: absolute;
    bottom: -10px;
    right:-10px;
    z-index: -1;
    width: 120px;
}
.about-section {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.about-right {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.about-para {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-skill {
    display: flex;
    gap: 2rem;
    align-items: center;
    transition: 0.3s;
}
.about-skill p {
    min-width: 5rem;
    font-size: 1rem;
    font-weight: 500;
}
.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 5rem;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}
.about-achivements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 8rem;
}
.about-achivement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: 0.5s;
}
.about-achivement h1 {
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.1%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achivement p {
    font-size: 1rem;
    font-weight: 500;
}
.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achivement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}

@media(max-width:768px){
    .about{
        align-items: center;
        text-align: center;
    }
    .about-title{
        justify-content: center;
        text-align: center;
    }
    .about-title h1{
        text-align: center;
    }.about-title img{
        width: 130px;
        right: -20px;
    }
    .about-sections{
        align-items: center;
        text-align: center;
    }
    .about-left{
        display: none;  
    }
    .about-para{
        text-align: center;
    }
    .about-skill{
        align-items: center;
    }
    .about-skill p{
        text-align: center;
    }
    .about-skill hr{
        margin: 0 auto;
    }
    .about-achivements{
        justify-content: center;
        text-align: center;
    }
    .about-achivement{
        align-items: center;
        text-align: center;
    }
}

@media(max-width:468px){
    .about-title{
        justify-content: center;
        text-align: center;
    }
    .about-title h1{
        text-align: center;
        font-size: 40px;
    }
    .about-title img{
        width: 60px;
        right: 0;
    }
    .about-section{
        align-items: center;
        text-align: center;
    }
    .about-left{
        display: none;
    }
    .about-para{
        text-align: center;
        font-size: 14px;
    }
    .about-skill{
        align-items: center;
    }
    .about-skill p{
        text-align: center;
        font-size: 14px;
    }
    .about-skill hr{
        margin: 0 auto;
    }
    .about-achivements{
        justify-content: center;
        text-align: center;
       
    }
    .about-achivement{
        align-items: center;
        text-align: center;
    }
    .about-achivement h1{
        font-size: 22px;
    }
    .about-achivement p{
        font-size: 14px;
    }
}