.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    margin: 4rem 2rem;
}
.contact{
    position: relative;
}
.contact-title h1 {
    padding: 0 1.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .contact-title img{
    position: absolute;
    bottom: 0px;
    right:0px;
    z-index: -1;
    width: 20px;
} */
 
.contact-section {
    display: flex;
    gap: 4rem;
}
.contact-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-left h1 {
    font-size: 3.5rem;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p {
    max-width: 30rem;
    color: #d8d8d8;
    font-size: 1rem;
    line-height: 2rem;
}
.contact-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #d8d8d8;
    font-size: 0.5rem;
}
.contact-detail {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}
.mail-icon{
        filter: brightness(0) invert(1);
    }
.call-icon{
    filter: brightness(0) invert(1);
}
.location-icon{
    filter: brightness(0) invert(1);
}
.contact-detail img {
    width:1.5rem;
    height:1.5rem;
    object-fit: contain;
}
.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.75rem;
}
.contact-right label {
    color: #d8d8d8;
    font-size: 1rem;
    font-weight: 500;
}
.contact-right input {
    border: none;
    width: 45rem;
    height: 4rem;
    padding-left: 1rem;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 1rem;
}
.contact-right textarea {
    width: 40rem;
    border: none;
    padding: 1.5rem;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 1rem;
}
.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 1rem;
    padding: 1rem  2rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:768px){
    .contact{
        gap: 3rem;
        margin: 3rem auto;
        align-items: center;
    }
    .contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    /* .contact-title img{
        width: 130px;
        margin-right: -20px;
    } */
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    
    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }
    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}

@media(max-width:468px){
    .contact{
        gap: 32px;
        padding: 0 16px;
        margin: 32px auto;
        align-items: center;
        justify-content: center;
    }
    .contact-title h1{
        font-size: 40px;
        font-weight: 600;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 32px;
    }
    .contact-left p{
        font-size: 14px;
    }
    .contact-detail{
        gap: 10px;
    }
    .contact-detail img{
        width: 16px;
    }
    .contact-right label{
        font-size: 16px;
    }
    .contact-right input{
        width: 100%;
        font-size: 14px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 14px;
    }
    .contact-submit{
        font-size: 14px;
        padding: 12px 20px;
    }
}