.footer {
    margin:5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-top {
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 1rem;
    max-width: 25rem;
}
.footer-top-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer-email-input {
    display: flex;
    gap: 2rem;
    padding:1rem 2rem;
    border-radius: 50px;
    background: #32323b;
    padding-right: 5rem;
    margin-bottom: -120px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 1rem;
}
.footer-subscribe {
    font-size: 1.1rem;
    padding: 1rem 3rem;
    border-radius: 50px;
    background: linear-gradient(270deg, #df8908 -5.09%, #b415ff 106.08%);
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: -120px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.footer-bottom-right {
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.footer-logo {
    width: 50%;
    height:80%;
    object-fit: contain;
    transform: translateY(72px);
}
.user-icon {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
    gap: 15px;
  }
  .footer-top-right {
    display: flex;
    flex-direction: row;    
    gap: 12px;
    width: 100%;
    margin-top: 15px;
  }
  .footer-email-input {
    flex: 1;
    max-width: 230px;
    padding: 0.8rem 1.2rem;
    margin-bottom: 0;       
  }

  .footer-email-input input {
    width: 100%;
    text-align: left;
  }
  .footer-subscribe {
    flex-shrink: 0;
    padding: 0.8rem 1.6rem;
    margin-bottom: 0;     
  }
  .footer hr {
    margin-top: 26px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 14px;
    text-align: center;
  }

  .footer-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 18px;
    text-align: center;
    margin-bottom: 0;
    
  }
}

